
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Time test Suite" verbose="1">
  <test name="Group Test">
    <groups>
      <run>
        <include name="Smoke" />
      </run>
    </groups>
     <classes>
      <class name="com.qa.test.Testing" />
    </classes>
  </test>
</suite>
